{% extends 'front/navs.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/front/contact.css' %}">
    <script src="{% static 'js/front/contact.js' %}"></script>
{% endblock %}

{% block front %}
<div class="item_container rflex rrow">
    <div class="form_cont rflex rcolumn">
        <form method="POST" action="">   
            {% csrf_token %}   
            <input name="name" type="text" class="feedback-input" placeholder="Name" required/>   
            <input name="email" type="email" class="feedback-input" placeholder="Email" required/>
            <textarea name="message" class="feedback-input" placeholder="Message" required></textarea>
            <input type="submit" value="SUBMIT"/>
          </form>
    </div>
    <div class="about_cont rflex rcolumn"> <ul class="contact-list">
        <p class="greeting_text">{{ contacts.title }}</p>

        <li class="list-item"><span class="material-symbols-outlined">map</span>
            <p class="contact-text">{{ contacts.adresses }}</p></li>
        
        <li class="list-item"><span class="material-symbols-outlined">call</span>
            <p class="contact-text"><a href="tel:{{ contacts.phone }}" title="Give me a call">{{ contacts.phone }}</a></p></li>
        
        
        <li class="list-item"><span class="material-symbols-outlined">mail</span>
            <p class="contact-text"><a href="mailto:{{ contacts.email }}" title="Send me a Email">{{ contacts.email }}</a></p></li>
        
        <li class="list-item"><span class="material-symbols-outlined">public</span>
            <p class="contact-text"><a href="http://{{ contacts.website }}">{{ contacts.website }}</a></p></li>
      </ul>
    </div>
</div>
{% if success %}
<script>
    alert("Message Sended successfully")
</script>
{% endif %}
{% if fail %}
<script>
    alert("An Technical Error Occurred")
</script>
{% endif %}
{% endblock  %}